## The Dataverse Network Project

The Dataverse Network Project (<http://thedata.org>) is an open source web application for sharing, citing, analyzing, and preserving research data.

Please see the [DVN Maven Site](./mavensite.html) link for more about these pages.
